$color: #FF4343;
$sepBorder: 0.5px solid #BABBC5;
$textCol:#FFF;
$textColor:#BABBC5;
$textColorWorkTeam: #6C7279;
$visitedCol:#E71414;
$sepBorderact: 3px solid #E71414;
$sepBorderhoov: 3px solid #BABBC5;